.added-contacts {
  margin: 0 auto;
}
.edit, .remove-contact {
  background-color: pink;
  border-radius: 5px;
  color: grey;
  font-family: verdana;
}
table {
  /* border: 2px solid rgb(255, 155, 171); */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}
.tr-row:hover {
  background-color: rgb(231, 228, 228);
  }
thead {
  background-color: pink;
  padding: 20px;
  border-bottom: 1px solid palevioletred;
  text-align: left;
  color: grey;
  font-family: verdana;
  border-radius: 5px;
}
th {
  padding: 20px 5px;
}
tr {
  padding: 20px;
  /* background-color: rgb(231, 228, 228); */
}

td {
  padding: 5px;
  color: grey;
  /* background-color: rgb(231, 228, 228); */
}
