input {
  border-color: brown;
  border-radius: 10px;

  padding: 10px;
  margin: 5px;
}

.submit-btn {
  background-color: white;
  border-radius: 10px;
  border: 2px solid brown;
  padding: 10px;
  margin: 5px;
}

header{
  font-size: 40px;
  font-weight: 900;
}

h2 {
  font-size: 60px;
}
.testinput {
  background-color: green;
  padding: 40px;
}
ul {
  background-color: blue;
}