body {
  margin: 0 auto;
  width: 700px;
}

input {
  border-color: rgb(241, 233, 233);
  border-radius: 7px;
  background-color: rgb(250, 187, 198);
  padding: 10px 0px 10px 10px;
  margin-bottom: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: white;
  font-family: verdana;
  text-align: left;
  font-weight: 800;
}
input:focus {
  outline: none;
    border-color: #ccc8c9;
    box-shadow: 0 0 10px #707070;
}
.submit-btn, .back {
  border-color: rgb(241, 233, 233);
  border-radius: 7px;
  background-color: rgb(250, 187, 198);
  padding: 10px;
  margin-bottom: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: gray;
  font-family: verdana;
  text-align: left;
  font-weight: 800;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.name-input {
  width: 98%;
}
.phone-input, .email-input {
  width: 80%;
}

.add-phone,
.add-email {
  border-color: rgb(241, 233, 233);
  border-radius: 7px;
  background-color: rgb(250, 187, 198);
  margin-bottom: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: grey;
  width: 10%;
  float: right;
  font-size: 30px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
}
.add-phone:hover,
.add-email:hover,
.submit-btn:hover,
.back:hover,
.view-contact:hover,
.remove-contact:hover,
.reset:hover,
.edit:hover {
  background-color: rgb(253, 143, 161);
  outline: none;
}
